@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,900&display=swap");

// Navbar
nav {
  img {
    padding-top: 33px;
    padding-bottom: 20px;
  }
  ul {
    li {
      & :hover {
        text-decoration: underline;
      }
    }
  }
}

// topSection
.topSection {
  div:nth-child(1) {
    div:nth-child(1) {
      width: fit-content;
      padding-top: 40px;
      h1 {
        font-family: "Nunito Sans";
        font-weight: 900;
        margin-top: 70px;
        width: fit-content;
      }
      p {
        font-family: "Nunito Sans";
        width: 525px;
        font-size: 18px;
      }
      button {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: #1492e6;
        font-family: "Nunito Sans";
        font-size: 23px;
        padding: 15px 50px;
        margin-top: 45px;

        &:hover {
          background: #1486d2;
        }
      }
    }
    div:nth-child(2) {
      width: fit-content;
    }
  }
  div:nth-child(2) {
    h2 {
      padding-top: 190px;
      font-family: "Nunito Sans";
      font-size: 35px;
      padding-bottom: 60px;
    }
    div {
      div {
        box-shadow: 0 7px 18px 0px rgba(0, 0, 0, 0.203);
        width: fit-content;
        padding: 38px 14px 48px 19px;
        h3 {
          font-family: "Nunito Sans";
          font-size: 18px;
          font-weight: 700;
        }
        p {
          font-family: "Nunito Sans";
          width: 253px;
          margin: 0 auto;
        }
      }
    }
  }
  div:nth-child(3) {
    h2 {
      padding-top: 190px;
      font-family: "Nunito Sans";
      font-size: 35px;
      padding-bottom: 60px;
    }
    div {
      div {
        width: fit-content;
        h3 {
          font-family: "Nunito Sans";
          font-size: 18px;
          font-weight: 700;
        }
        p {
          font-family: "Nunito Sans";
          width: 300px;
        }
      }
    }
  }
}

// midSection
.midSection {
  padding: 0 100px;
  div {
    h2 {
      padding-top: 130px;
      font-family: "Nunito Sans";
      font-size: 35px;
      padding-bottom: 60px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .odd-card {
        align-self: flex-start;
        p {
          width: 645px;
        }
      }

      .even-card {
        align-self: flex-end;
        p {
          width: 471px;
        }
      }
      div {
        box-shadow: none;
        padding: none;
        // width: fit-content;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          h3 {
            margin-top: 10px;
            margin-left: 39px;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 700;
          }
        }
        p {
          font-family: "Nunito Sans";
          font-size: 21px;
          margin-top: 14px;
        }
        button {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background: #1492e6;
          font-family: "Nunito Sans";
          font-size: 23px;
          padding: 15px 50px;
          margin-bottom: 25px;

          &:hover {
            background: #1486d2;
          }
        }
      }
    }
  }
}

// bottomSection
.bottomSection {
  h2 {
    padding-top: 190px;
    font-family: "Nunito Sans";
    font-size: 35px;
  }
  .roundedDiv {
    box-shadow: 0 7px 18px 0px rgba(0, 0, 0, 0.203);
    padding: 40px 40px 0 40px;
    margin: 70px 90px 200px 90px;

    .CardsDiv {
      position: relative;
      top: 50px;
      justify-content: space-between;
      gap: 40px;
      padding: 15px 10px;
      overflow-x: scroll;

      .Card1,
      .Card2,
      .Card3 {
        padding: 28px 25px 20px 28px;
        background: #fff;
        box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.203);

        div {
          div:nth-child(1) {
            div {
              h4,
              h5 {
                font-size: 13px;
                font-family: "Nunito Sans";
                font-weight: 600;
              }

              h5 {
                margin-top: -4px;
              }
            }
          }
          div:nth-child(2) {
            width: 100px;
          }
        }
        p {
          font-size: 13px;
        }
      }
    }

    .headingofDiv {
      display: flex;
      align-items: center;
      img {
        height: 64px;
        width: 64px;
        margin-right: 15px;
      }
      h3 {
        font-family: "Nunito Sans";
        font-weight: 900;
        font-size: 25px;
      }
    }
    button {
      box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.203);
      position: absolute;
      bottom: 60px;
      right: -35px;
      background: #fff;
      padding: 20px 28px;
      border-radius: 50%;
    }
  }
  .brand {
    padding-top: 163px;
    padding-bottom: 189px;
  }
}

// footer
footer {
  background: #000;
  padding: 300px 0 0 0;
  p {
    font-family: "Nunito Sans";
    font-size: 18px;
    span {
      padding-right: 10px;
      position: relative;
      top: 2px;
    }
  }
}

// Media Queries
@media screen and (max-width: 1200px) {
  nav {
    img {
      padding: 10px 0 20px 20px;
    }
    button {
      margin: 15px 20px 20px 0;
    }
  }
  .topSection {
    div:nth-child(1) {
      div:nth-child(1) {
        padding-top: 5px;
        h1 {
          font-size: 30px;
        }
        p {
          width: 410px;
          font-size: 16px;
        }
        button {
          font-size: 15px;
          margin-top: 25px;
        }
      }
      div:nth-child(2) {
        width: fit-content;
        img {
          width: 400px;
        }
      }
    }
    div:nth-child(2) {
      h2 {
        font-size: 30px;
      }
    }
    div:nth-child(3) {
      h2 {
        font-size: 30px;
      }
    }
  }
  .midSection {
    padding: 0 50px;
    div {
      h2 {
        font-size: 30px;
      }
      div {
        .odd-card {
          p {
            width: 500px;
          }
        }

        .even-card {
          p {
            width: 360px;
          }
        }
        div {
          p {
            font-size: 16px;
          }
          button {
            font-size: 15px;
          }
        }
      }
    }
  }
  .bottomSection {
    h2 {
      padding-top: 120px;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 998px) {
  .topSection {
    div:nth-child(2) {
      h2 {
        padding-bottom: 20px;
      }
      div {
        margin-top: 40px;
      }
    }
  }

  .bottomSection {
    .roundedDiv {
      margin: 70px 0 200px 0;

      .headingofDiv {
        h3 {
          font-family: "Nunito Sans";
          font-weight: 900;
          font-size: 20px;
        }
      }
    }
    .brand {
      padding-top: 100px;
      padding-bottom: 129px;
    }
  }
}

@media screen and (max-width: 610px) {
  .topSection {
    div:nth-child(1) {
      div:nth-child(1) {
        padding-top: 5px;
        h1 {
          font-size: 22px;
        }
        p {
          width: 320px;
          font-size: 14px;
        }
        button {
          font-size: 12px;
          margin-top: 15px;
        }
      }
      div:nth-child(2) {
        width: fit-content;
        img {
          width: 400px;
        }
      }
    }
    div:nth-child(2) {
      h2 {
        font-size: 22px;
        margin-bottom: -40px;
      }
      div {
        div {
          p {
            font-size: 14px;
          }
        }
      }
    }
    div:nth-child(3) {
      h2 {
        font-size: 22px;
      }
      div {
        div {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .midSection {
    padding: 22px;
    div {
      h2 {
        font-size: 21px;
      }
      div {
        .odd-card {
          div {
            h3 {
              font-size: 19px;
              margin-left: 10px;
            }
          }
          align-self: center;
          p {
            font-size: 14px;
            width: 240px;
          }
          button {
            font-size: 12px;
          }
        }

        .even-card {
          div {
            h3 {
              font-size: 19px;
              margin-left: 10px;
            }
          }
          align-self: center;
          p {
            font-size: 14px;
            width: 240px;
          }
          button {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .topSection {
    div:nth-child(1) {
      div:nth-child(2) {
        width: fit-content;
        img {
          width: 300px;
        }
      }
    }
  }

  .bottomSection {
    h2 {
      padding-top: 150px;
      font-size: 22px;
    }
    .roundedDiv {
      padding: 40px 10px 0 10px;

      .CardsDiv {
        .Card1,
        .Card2,
        .Card3 {
          div {
            div:nth-child(2) {
              width: 75px;
            }
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
    div{
      button{
        display: none;
      }
    }
  }
}
